h1,h3{
    background-color: rgba(134, 166, 177, 0.829);
    font-size: 20px;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background: rgba(178, 200, 212, 0.644);
}
div.left {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-indent: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(168, 205, 235);
    
}
div.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
    text-indent: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(224, 214, 253);

}
