{% extends 'base.html' %}
{% load static %}

{% block content %}
    


<div class="container">
    {% if user.is_authenticated %}
    <h1>MENU</h1>
    <a href="{% url 'main:first' %}">first</a>
    <a href="{% url 'main:second' %}">second</a>
    <img src="{%static 'images/image01.jpg' %}">
    <h2><a href="{%url 'main:new'%}">글쓰기</a></h2>
    <h3>글 목록</h3>
    <div>
        {% for post in posts %}
        
        <div>
            
            <h4>{{post.title}}</h4>
            {{post.writer}}<br>
            {{post.body}}
            {{post.summary}}
            <a href="{% url 'main:detail' post.id %}">...자세히</a>
            <br><hr>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h5>로그인 후 이용 가능</h5>
    <a href="{% url 'account_login'%}"class="btn btn-warning">로그인</a>
    <a href="{% url 'account_signup'%}"class="btn btn-warning">회원가입</a>
    {% endif %}
</div>
{% endblock %}




