
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
    </span>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"href="#" id="navbarDropdown"role="button"data-bas-toggle="dropdown"aria-expanded="false">Account</a>
      <ul class="dropdown-menu"aria-labelledby="navbarDropdown">
      {% if user.is_authenticated %}
      <li><a class="dropdown-item"href="{% url 'users:mypage' %}">Mypage</a></li>
      <li><a class="dropdown-item"href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
      <li><a class="dropdown-item"href="{% url 'account_login' %}">Login</a></li>
      <li><a class="dropdown-item"href="{% url 'account_signup' %}">Signup</a></li>
      {% endif %}
      </ul>
    </li>
    
    
  </div>
</nav>

