<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <TITLE>Introduce KimSwim</TITLE>
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
    
</head>
<body>

     <table>
         <h1><center>♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡</center></h1>
         <center><img src= "{% static 'images/KakaoTalk_20210405_220449611_01.jpg' %}" width="370"; height="500"; /></center>
         <h2><center>Kim Suyoung (Swim Kim) </center> </h2>
         <h3><center>Dongguk Univ. Industrial & Systems Engineering</center></h3>
        
            <div class="left">
                <p>♡SNS♡</p>
                <p>Instagram : @swimkim__</p>
                <p>E-mail : ksoo5386@naver.com </p>
                <p>Phone Number : 010-5662-5385</p>
                <p>Blog : <a href = "https://blog.naver.com/ksoo5386">https://blog.naver.com/ksoo5386</a></p>
            </div> 
            <div class="right">
                <p>♡FAVORITE♡</p>
                <p>MOVIE : Sing Street<p>
                <p>SINGER : HOPPIPOLLA(Band), NCT</p>
                <p>FOOD : Spicy foods !! , Jelly </p>
                <p>HOBBY : Dance, Watching drama, Writing Blog</p>
            </div>
            <h4><center>♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡♥｡･ﾟ♡ﾟ･｡</center></h4>
            

    </table>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    {% include 'shared/_navbar.html' %}

    
</body>    
</html>